body{padding:0;background: #F1F3FA;}
.navbar {margin-top:0px;background-color: #2f4050;}
span.glyphicon-cog {font-size: 1.5em;color:orange;}
.split{margin-top:70px;}
#pill1{font-size:15px;font-weight:bold;}
#create_emploi,#create_stage,#create,#emploi,#stage,#update{font-size:19px;display:none;}
.roll{border:2px solid #6699ff;}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border:1px solid #ccc;
  border-top:0;
  border-top:3px solid #00c0ef;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 22px;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #fff;
  background-color: #00c0ef;
  border-left: -4px solid #00c0ef;
  
}

/* Profile Content */
.profile-content {
  
  border:1px solid #ccc;
  border-top:0;
  border-top:3px solid #00c0ef;
  background: #fff;
}
.glyphicon {  margin-bottom: 10px;margin-right: 5px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
.account{
margin:3% auto;
max-width:97%;
}
.spanx{margin-left:18%;}
/**************crée offre-*******/
.signup-form-container1 {
	
	border-radius:3px;
	background:transparent;
	margin:3% auto;
	padding:20px;
	max-width:600px;border:1px solid #ccc;
	box-shadow:5px 8px 10px rgba(0.5, 0, 0, 0.5);
}